* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #FFF8F3;
}

#title {
  padding: 40px;
}

#color-palette {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.color {
  width: 40px;
  height: 40px;
  margin: 4px 2px;
  border: 1px solid black;
  border-radius: 50%;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  margin: 0%;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 200px;
  margin-top: 100px;
}

#generate-board, #clear-board {
  padding: 7px;
  background-color: #D3DEDC;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 5px;
}

.container {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 20%;
}
