* {
  margin: 0%;
  padding: 0%;
}

h2 {
  padding-bottom: 20px;
}

#cabecalho {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.imagem {
  display: flex;
  justify-content: center;
}

#minha_foto {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
}

.lado-esquerdo {
  width: 40%;
}

.lado-direito {
  width: 40%;
}

.container-artigos {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.artigos {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.container-tabela {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

#tabela {
  text-align: center;
  border: 1px solid #000;
}

#tabela tr th {
  padding: 10px 10px 10px 10px;
}

.container-licoes {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.licoes {
  display: flex;
  justify-content: space-between;
  width: 70%;
  text-align: center;
}

#licoes_aprendidas, #licoes_a_aprender {
  list-style: none;
}

.container-links {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

footer {
  text-align: center;
  padding: 30px;
}
