* {
  margin: 0%;
  padding: 0%;;
}

body {
  background-color: #CCD1E4;
}

.title {
  padding-top: 40px;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#carta-texto {
  font-size: 18px;
  margin: 50px;
}

#carta-contador {
  font-size: 18px;
  margin: 40px;
}

#criar-carta {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #2F3A8F;
  color: #FFF;
}

.newspaper {
  background-color: antiquewhite;
  font-family: 'Times New Roman';
  font-weight: bold;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}
