* {
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
  justify-content: center;
  background-color: #92A9BD;
}

main {
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100vh;
  background-color: #fbffe2;
}

header {
  text-align: center;
  padding: 40px;
  font-size: 20px;
  font-weight: 700;
}

#funcionamento {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 16px;
}

.container-texto {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

#texto-tarefa {
  width: 40%;
  font-size: 18px;
}

#lista-tarefas {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 50px;
  font-size: 18px;
}

.container-buttons {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 70%;
  bottom: 5%;
}

.button {
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
}

#criar-tarefa {
  background-color: #B2EA70;
}

#apaga-tudo {
  background-color: #FF5151;
}

#remover-finalizados {
  background-color: #FF5151;
}

#salvar-tarefas {
  background-color: #88E0EF;
}

#mover-cima {
  background-color: #FFE400;
}

#mover-baixo {
  background-color: #FFE400;
}

#remover-selecionado {
  background-color: #FF5151;
}
